@using QuizzAppFilRouge.Data.Entities;
@model QuizzAppFilRouge.Models.QuizzViewModel.QuizzViewModel

@{
    ViewData["Title"] = "Créer un Quizz";
}

<h4>Généaration de Nouveau Quizz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TotalQuestionNumber" class="control-label"></label>
                    <select asp-for="TotalQuestionNumber" class="form-select" >
                        <option value="10">10</option>
                        <option value="20">20</option>
                    </select>
                <span asp-validation-for="TotalQuestionNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FreeQuestionPercentage" class="control-label"></label>
                    <select asp-for="FreeQuestionPercentage" class="form-select" >
                        <option value="10">10 %</option>
                        <option value="20">20 %</option>


                    </select>
                <span asp-validation-for="TotalQuestionNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="QuizzLevel" class="control-label">Niveau du Questionnaire</label>
                    <select asp-for="QuizzLevel" class="form-select" >
                    @foreach (QuizzLevelEnum level in QuizzLevelEnum.GetValues(typeof(QuizzLevelEnum)))
                    {
                            <option value="@level">@level</option>
                        }
                    </select>
                <span asp-validation-for="QuizzLevel" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="selectedCandidateId" class="control-label"> Associer à un candidat </label>
                    <select asp-items="Model.HandledByMeCandidates" asp-for="selectedCandidateId" class="form-select" >
                    </select>
            </div>

            <div class="form-group"> 
                <label asp-for="PassageDate"> Date de passage programmée </label>
                <input asp-for="PassageDate" class="form-control" />
                <span asp-validation-for="PassageDate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
