@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Bienvenue sur l'interfacre de gestion des Quizzs'</h1>

<a asp-controller="Quizzs" asp-action="GetQuizzs">Liste des Quizzs</a>