@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Bienvenue sur l'interface de gestion des Quizzs</h1>
 
@if (User.Identity.IsAuthenticated)
{
    bool isAdmin = false;

    @if (User.IsInRole("Admin"))
    {
        isAdmin = true;
    }
    <a asp-controller="Quizzs" asp-action="GetAllQuizzs" asp-route-isAdmin="@isAdmin">Liste des Quizzs</a>

}
