@{
    ViewData["Title"] = "Home Page";
    ViewBag.BodyClass = "accueil";
}

<div class= "card border-0 rounded-lg shadow-lg p-4 m-4">
    
  <h1>Bienvenue sur AppQuiz</h1>

  <div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  </div>

  
    



        





</div>












