@{
  ViewData["Title"] = "Home Page";
  ViewBag.BodyClass = "accueil";
}

<div class= "card border-0 rounded-lg shadow-lg p-4 m-4 text-center">

  <h1>Bienvenue sur AppQuizz</h1>
  <div class="d-flex gap-4 justify-content-center">
  <img height="256" width="256" src="~/assets/images/test.png"/>


  <div>
        <button  type="button" class="btn btn-lg btn-custom btn-primary"><a style="color:white;text-decoration:unset;" href="Identity/Account/Login?ReturnUrl=%2FAdmin">Se connecter</a></button>
        <p>
            Bienvenue sur notre site de quizz interactif ! 
            <p>
            Ici, vous trouverez une variété de quizz amusants et éducatifs pour tester vos connaissances sur différents sujets.
             </p>
              <p>
             Que vous soyez un passionné d'histoire, un amateur de musique ou simplement un curieux avide d'apprendre, nous avons un quizz pour vous.
             </p>
             <p>
             Mais ce n'est pas tout - nous voulons également que vous participiez activement à notre site en posant vos propres questions et en créant vos propres quizz. 
            </p>
            <p>
            Vous pouvez soumettre des questions dans les commentaires ou même créer votre propre quizz personnalisé pour les autres utilisateurs à apprécier.
            </p>
            <p>
             Nous croyons que c'est en partageant notre savoir et en apprenant des autres que nous pouvons tous progresser ensemble.
            </p>
            <p>
             Alors, êtes-vous prêt à tester vos connaissances ? Parcourez notre sélection de quizz et trouvez celui qui vous convient.
            </p>
            <p>
             Et si vous avez une idée pour un quizz, n'hésitez pas à nous en faire part ! Nous sommes impatients de voir ce que vous avez en réserve pour nous.
            </p>
         </p>
  </div>


</div>












