@model IEnumerable<QuizzAppFilRouge.Data.Entities.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a href="" asp-action="" asp-controller="">Créer une question </a>

<a href="" asp-action="" asp-controller="">Supprimer une question </a>

<a href="" asp-action="" asp-controller="">Modifier une question </a>


