@{
    ViewData["Title"] = "Quizz Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome To Admin Page !</h1>
</div>


<a asp-controller="Role" asp-action="Index">Gestion des roles</a>
</br>
<a asp-controller="User" asp-action="Index">Gestion des Utilisateurs</a>
</br>
<a asp-controller="Quizzs" asp-action="Index">Gestion des Quizzs</a>
