@{
    ViewData["Title"] = "Quizz Page";
}




<div class="text-center">
    <h1 class="display-4">Welcome To Admin Page !</h1>
</div>


<a asp-controller="Role" asp-action="Index">Gestion des roles</a>
