html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.divprincipale {
  border-radius: 30px;
}
.divenfant1 {
  padding: 15px;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.accueil {
  background-image: url(https://img.freepik.com/vecteurs-libre/papier-peint-geometrique-degrade_23-2148818330.jpg?w=1060&t=st=1676465147~exp=1676465747~hmac=b751c045ee1dd00f5fef93ecc605d0fb1cfaf5e6a51d6b0c70948e296cc0df74);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.denied {
  background-image: url(https://img.freepik.com/vecteurs-libre/mardi-gras-au-design-plat_52683-32078.jpg?w=740&t=st=1676381469~exp=1676382069~hmac=60d9c06dd4ae73e4647e67673a2996432ebe165b1d2eb60301cce7f160a82216);
}

.quizz-login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.card{
    border-radius: 20px;
}


.bg-login {
  background-image: url(https://img.freepik.com/vecteurs-libre/fond-abstrait-geometrique-plat_23-2149447623.jpg?w=1060&t=st=1676389903~exp=1676390503~hmac=ea33f7bb80c330bc0075222ea03b2b0cfe68441df3e12bdf2dfa261753544594);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.border-20-px {
  border-radius: 20px;
}

.bg-gradient-pink {
    background: #ec008c; /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, #fc6767, #ec008c ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, #fc6767, #ec008c ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-purple {
    background: #7f00ff; /* fallback for old browsers */
    background: -webkit-linear-gradient( to left, #e100ff, #7f00ff ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to left, #e100ff, #7f00ff ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-green {
    background: #11998e; /* fallback for old browsers */
    background: -webkit-linear-gradient( to left, #38ef7d, #11998e ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to left, #38ef7d, #11998e ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-yellow {
    background: #ffe000; /* fallback for old browsers */
    background: -webkit-linear-gradient( to left, #799f0c, #ffe000 ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to left, #799f0c, #ffe000 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Quizz-page {
    background-image: url(https://img.freepik.com/psd-gratuit/formes-abstraites-fond-blanc_1297-153.jpg?w=740&t=st=1676508166~exp=1676508766~hmac=18ab6acb7362548c60eeacbe04de83d7d73e04216c101668d74240b054a68731);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*input:focus {
    outline: none !important;
    border-color: black;
    box-shadow: 0 0 10px #719ECE;
}*/
input {
    outline-color: black;
}