html {
  font-size: 14px;
}

body {
  font-family: "Poppins", sans-serif !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.divprincipale {
  border-radius: 30px;
}
.divenfant1 {
  padding: 15px;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.w-5 {
  width: 3rem;
}

.h-5 {
  height: 3rem;
}

.accueil {
  background-image: url(https://img.freepik.com/vecteurs-libre/fond-geometrique-plat_23-2148957201.jpg?w=2000&t=st=1676629007~exp=1676629607~hmac=be2fbfc34ec880a8847844b888766241465eda5030b7fbd269f8e4c092068c21);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.denied {
  background-image: url(https://img.freepik.com/vecteurs-libre/mardi-gras-au-design-plat_52683-32078.jpg?w=740&t=st=1676381469~exp=1676382069~hmac=60d9c06dd4ae73e4647e67673a2996432ebe165b1d2eb60301cce7f160a82216);
}

.quizz-login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
}

.card {
  border-radius: 20px;
}

.onHoverCard:hover {
  animation: 0.5s;
  cursor: pointer;
  background: #ff0084 !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #33001b,
    #ff0084
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #33001b,
    #ff0084
  ) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-login {
  background-image: url(https://img.freepik.com/vecteurs-libre/fond-abstrait-geometrique-plat_23-2149447623.jpg?w=1060&t=st=1676389903~exp=1676390503~hmac=ea33f7bb80c330bc0075222ea03b2b0cfe68441df3e12bdf2dfa261753544594);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.border-20-px {
  border-radius: 20px;
}

.bg-gradient-body {
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-pink {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-purple {
  background: #7f00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #e100ff,
    #7f00ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #e100ff,
    #7f00ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-green {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #38ef7d,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-yellow {
  background: #ffe000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #799f0c,
    #ffe000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #799f0c,
    #ffe000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Quizz-page {
  background-image: url(https://img.freepik.com/psd-gratuit/formes-abstraites-fond-blanc_1297-153.jpg?w=740&t=st=1676508166~exp=1676508766~hmac=18ab6acb7362548c60eeacbe04de83d7d73e04216c101668d74240b054a68731);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*input:focus {
    outline: none !important;
    border-color: black;
    box-shadow: 0 0 10px #719ECE;
}*/

.sidebar {
  min-width: 270px;
  max-width: 270px;
  background: #3445b4;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.sidebar .h6 {
  color: #fff;
}
.sidebar.active {
  margin-left: -270px;
}
.sidebar h1 {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
}
.sidebar h1 .logo {
  color: #fff;
}
.sidebar h1 .logo span {
  font-size: 14px;
  color: #44bef1;
  display: block;
}
.sidebar ul.components {
  padding: 0;
}
.sidebar ul li {
  font-size: 16px;
}
.sidebar ul li > ul {
  margin-left: 10px;
}
.sidebar ul li > ul li {
  font-size: 14px;
}
.sidebar ul li a {
  padding: 10px 0;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar ul li a span {
  color: #44bef1;
}
.sidebar ul li a:hover {
  color: #fff;
}
.sidebar ul li.active > a {
  background: transparent;
  color: #fff;
}

.sidebar .custom-menu {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  margin-right: -20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sidebar .custom-menu .btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
}
.sidebar .custom-menu .btn i {
  margin-right: -40px;
  font-size: 14px;
}
.sidebar .custom-menu .btn.btn-primary {
  background: transparent;
  border-color: transparent;
}
.sidebar .custom-menu .btn.btn-primary:after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #3445b4;
  border-radius: 10px;
}
.sidebar .custom-menu .btn.btn-primary:hover,
.sidebar .custom-menu .btn.btn-primary:focus {
  background: transparent !important;
  border-color: transparent !important;
}

.background-quizz {
  background-image: url(https://images.pexels.com/photos/6984984/pexels-photo-6984984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

textarea {
  -webkit-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.83);
  box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.83);
  width: 100%;
}

#checklist {
  --background: #ffffff;
  --text: #414856;
  --check: #4f29f0;
  --disabled: #c3c8de;
  --width: 100px;
  --border-radius: 10px;
  background: var(--background);
  width: 100%;
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  padding: 30px 45px;
  display: grid;
  grid-template-columns: 30px auto;
  align-items: center;
}
#checklist label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
}
#checklist label::before,
#checklist label::after {
  content: "";
  position: absolute;
}
#checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}
#checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}
#checklist input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
}
#checklist input[type="checkbox"]::before,
#checklist input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}
#checklist input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}
#checklist input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}
#checklist input[type="checkbox"]:checked::before {
  animation: check-01 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked::after {
  animation: check-02 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked + label {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}
#checklist input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}
#checklist input[type="checkbox"]:checked + label::after {
  animation: firework 0.5s ease forwards 0.1s;
}
@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}
@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}
@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }
  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}
@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }
  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }
  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }
  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}
@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
      14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0,
      -14px -8px 0 0px #4f29f0;
  }
}
