@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>


    <h1>List of Roles</h1>

    </br>
    </br>


    <thead>
        <tr>
            <td> Id</td>
            <td> Name</td>
        </tr>
    </thead>

    <tbody>
        <br />
        @foreach (var role in Model)
    {
        var i = 0;
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <br />

        </tr>
    }
    </tbody>

    </br>
    </br>


