@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Recruiter Page";
}




<div class="text-center">
    <h1 class="display-4">Welcome To Recruiter Page !</h1>
</div>


</br>
<a asp-controller="User" asp-action="Index">Gestion des Utilisateurs</a>
</br>
<a asp-controller="Quizzs" asp-action="Index">Gestion des Quizzs</a>
